$max-bubble-opacity: .3;
$control-size: 100px;

@font-face { 
	font-family: "Lato";
	src: url("/static/fonts/Lato-Light.ttf");
}

body {
	background-color: #12a4e2;
}

#main-container {
	position: relative;
	height: 100%;
	width: 100%;
}

#content-container {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#track-info {
	color: white;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 50px;

	div.info-line {
		width: calc(100% - 200px);
		margin-left: 100px;
		margin-right: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#controls { 
	font-size: $control-size * 7/8;
	margin-top: $control-size/2;

	div.control {
		position: relative;
		display: inline-block;
		margin: 0 $control-size/4;
		height: $control-size;
		width: $control-size;
		line-height: $control-size;
		color: white;
		z-index: 99;
	}

	div.control.animating {
		position: relative;
		div.bubble {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			animation: bubble 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
			background-color: white;
		}
	}
}

#selection-container {
	font-family: "Lato", "Helvetica Neue", sans-serif;
	color: #ffffff;
	font-size: 14pt;
	font-weight: 300;
	#player-select {
		margin-left: 10px;	
	}
}


@keyframes bubble {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	
	50% { 
		opacity: $max-bubble-opacity;	
	}
	
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
