<!DOCTYPE html>
<html>
	<head>
		<link href="/static/css/index.css" rel="stylesheet">
		<link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<script src="/static/js/index.js"></script>
		<title>PlayServer</title>
	</head>
	<body>
		<div id="main-container">
			<div id="top-bar">
				<div id="selection-container">
					Currently controlling:<select id="player-select"></select>
				</div>
				<div id="volume-container">
					<span class="fa fa-volume-off"/>
					<input type="range" id="volume-slider">
					<span class="fa fa-volume-up"/>
				</div>
			</div>
			<div id="content-container">
				<div id="track-info">
					<div id="track-line-1" class="info-line"></div>
					<div id="track-line-2" class="info-line">-</div>
				</div>
				<div id="controls">
					<div id="previous" class="control fa fa-step-backward">
						<div class="bubble"></div>
					</div>
					<div id="playpause" class="control fa fa-play">
						<div class="bubble"></div>
					</div>
					<div id="next" class="control fa fa-step-forward">
						<div class="bubble"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
